<%= stylesheet_link_tag 'top', :media => "all" %>

<div class="nigate">
<h1><span class="under">子どもの好き嫌いに悩むお父さん、お母さんへ</span></h1>


<div class="slide-container">
 <div class="slide-wrapper">
 <img class="slide" src="/assets/スライド1.jpeg">
 <img class="slide" src="/assets/スライド2.jpeg">
 <img class="slide" src="/assets/スライド3.jpeg">
 </div>
 <div class="slide-wrapper">
 <img class="slide" src="/assets/スライド1.jpeg">
 <img class="slide" src="/assets/スライド2.jpeg">
 <img class="slide" src="/assets/スライド3.jpeg">
 </div>
 <div class="slide-wrapper">
 <img class="slide" src="/assets/スライド1.jpeg">
 <img class="slide" src="/assets/スライド2.jpeg">
 <img class="slide" src="/assets/スライド3.jpeg">
 </div>
</div>

</div>