// Place all the styles related to the kids controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.homepage{
  background-image: url(にんじん.jpeg);
  background-size: cover;
}

.search_container {
    box-sizing: border-box;
    position: relative;
    border: 1px solid #f87b32;
    display: block;
    padding: 3px 10px;
    border-radius: 20px;
    height: 2em;
    width: 260px;
    overflow: hidden;
  }
  .search_container input[type="text"]{
    border: none;
    height: 2.0em;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: 'Kaisei Opti', serif;
    font-size: 1.3em;
    border: none;
    background: none;
    color: #3A3A3B;
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    right: 0;
    top: -10px;
    outline : none;
  }
  .search_container:hover {
      border-color: #f8e63f;
      border-width: 3px;
  }
  .search_container:active{
      border-color:  #f8e63f;
      border-width: 3px;
  }
  .applications_searchbutton {
    cursor: pointer;
    font-size: 1.3em;
    border: none;
    border-style: none;
    margin-left: 2.5em;
    background: none;
    background-image: none;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    color: #494949;
    position: absolute;
    outline: none;
  }

  .home {
    margin: 50px auto;
    width: 50%;
    border: solid  #fcc246cb;
    border-radius: 10px;
    text-align: center;
    background-color: #fcda7ecb;
    font-family: 'Kaisei Opti', serif;
    font-size: 25px;
  }

  .home h1{
    color: #774716fd;
    font-size: 35px;
}

.under {
    background: linear-gradient(transparent 70%, #fa9f28da 70%);
  }

  .home h3{
    color: #774716fd;
    font-size: 25px;
}


.button6{
    width: 200px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Kaisei Opti', serif;
    color: #774716fd;
}

.button7{
    width: 200px;
    font-size: 15px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Kaisei Opti', serif;
    color: #774716fd;
}


  .answer {
    margin: 50px auto;
    width: 50%;
    border: solid  #fcc246cb;
    border-radius: 10px;
    text-align: center;
    background-color: #fcda7ecb;
    font-family: 'Kaisei Opti', serif;
    font-size: 25px;
  }

.answer h3{
    color: #774716fd;
    font-size: 25px;
}

.answer h1{
  color: #774716fd;
  font-size: 25px;
}

.under {
    background: linear-gradient(transparent 70%, #fa9f28da 70%);
  }



  .hennsyuu {
    margin: 50px auto;
    width: 50%;
    border: solid  #fcc246cb;
    border-radius: 10px;
    text-align: center;
    background-color: #fcda7ecb;
    font-family: 'Kaisei Opti', serif;
    font-size: 25px;
  }

.hennsyuu h1{
    color: #774716fd;
    font-size: 35px;
}

.under {
    background: linear-gradient(transparent 70%, #fa9f28da 70%);
  }

  .button9{
    width: 200px;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Kaisei Opti', serif;
    background-color:  #fcda7ecb;
    border: solid   #fcc246cb;
    color: #774716fd;
    text-align: center;
  }

  .syousai{
    background-image: url(たまねぎ.jpeg);
    background-size: cover;
  }

  .kid {
    margin: 50px auto;
    width: 50%;
    border: solid  #fcc246cb;
    border-radius: 10px;
    text-align: center;
    background-color: #fcda7ecb;
    font-family: 'Kaisei Opti', serif;
    font-size: 25px;
  }

.kid h1{
    color: #774716fd;
    font-size: 35px;
}

.button10{
    width: 200px;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-family: 'Kaisei Opti', serif;
    color: #774716fd;
}

.kid h3{
    color: #774716fd;
    font-size: 25px;
}

.under {
    background: linear-gradient(transparent 70%, #fa9f28da 70%);
  }

